.mainmenu {
  margin-top: 8px;
}

.mainmenu ul {
  margin: 0;
  padding: 0;
  padding-bottom: 20ps;
  list-style: none;
  overflow: hidden;
  background-color: $palegreen;
}

.mainmenu .mainmenu-ul {
  clear: both;
  max-height: 0;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  -webkit-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

.mainmenu li a {
  display: block;
  padding: 10px 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.mainmenu li .mainmenu__link--drop a {
  padding: 10px 2px;
}

.drop-item .mainmenu__link--drop {
  padding: 10px 4px;
  font-size: 16px;
  text-transform: none;
}

.mainmenu li a:hover,
.mainmenu .menu-btn:hover {
  background-color: $palegreen-light;
}

.drop-menu {
    display: flex;
    flex-direction: column; /* This never changes */
    align-items: flex-start;
    width: 150px; /* Allows sub buttons to stretch across button width in main-menu*/
    transition: max-height .4s, opacity .3s;
    max-height: 0;
    opacity: 0;
    background-color: $palegreen;
}

.drop-menu > .drop-item {
  height: 100%;
  transition: transform .4s;
  transform: translateY(-300%);
  background: $palegreen; /* Makes the menu effects visible on close */ 
  min-width: 170px;
}

.dropdown-wrapper:hover .drop-menu{
  max-height: 300px;  
  opacity: 1;
}

/* The specifity keeps styles from affecting main menu button */
.dropdown-wrapper:hover > .drop-menu .drop-item {
  transform: translateY(0%); 
}

.effect {
  transition: max-height 0s;
  opacity: 1;
  background: transparent;
}
.effect .drop-item {
  transform: translateY(0%); 
}


.scissor .drop-item{
  transform: translateX(-100%);
}
/* Selects every other menu button to slide the opposite way */
.scissor .drop-item:nth-child(2n+1) {
  transform: translateX(100%);
}
.dropdown-wrapper:hover .scissor .drop-item {
  transform: translateX(0%);
}


.fade-in .drop-item {
  transition: opacity .5s;
  opacity: 0;
}
.dropdown-wrapper:hover .fade-in .drop-item {
  opacity: 1;
}



/* menu icon */

.mainmenu .menu-icon {
  color: $yellow;
  font-size: 3em;
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.mainmenu .menu-icon .navicon {
  background: $yellow;
  display: block;
  height: 4px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 28px;
}

.mainmenu .menu-icon .navicon:before,
.mainmenu .menu-icon .navicon:after {
  background: $yellow;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.mainmenu .menu-icon .navicon:before {
  top: 8px;
}

.mainmenu .menu-icon .navicon:after {
  top: -8px;
}

/* menu btn */

.mainmenu .menu-btn {
  display: none;
}

.mainmenu .menu-btn:checked ~ .mainmenu-ul {
  max-height: 540px;
  /*  position: absolute;
    right: 0;
    top: 130px;
    width: 100vw;
    text-align: right; */
}

.mainmenu .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.mainmenu .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.mainmenu .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.mainmenu .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.mainmenu .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .mainmenu {
    margin-top: 24px;
  }
  .mainmenu li {
    float: left;
  }
  .mainmenu li a {
    padding: 10px 16px;
  }
  .mainmenu .mainmenu-ul {
    clear: none;
    float: right;
    max-height: none;
  }
  .mainmenu .menu-icon {
    display: none;
  }
  .mainmenu ul {
    background-color: transparent;
    }
}

@media (min-width: 1024px) {
  .mainmenu {
    margin-top: 48px;
  }
  .mainmenu li a {
    padding: 10px 30px;
  }
}

/* $maincolor: $paleyellow;
$secondarycolor: $palegreen-light;

@mixin drop-menu-transform($value) {
  -webkit-transform: ($value);
  -moz-transform: ($value);
  -ms-transform: ($value);
  transform: ($value);
}
@mixin drop-menu-transition($value) {
  -webkit-transition: ($value);
  -moz-transition: ($value);
  -ms-transition: ($value);
  transition: ($value);
}

#main-menu-ul {
  position: relative;
  list-style: none;
  background: inherit;
  text-transform: uppercase;
  display: inline-block;
  padding: 0;
  margin: 50px auto;
  li {
    display: inline-block;
    position: relative;
    padding: 15px 16px;
    cursor: pointer;
    z-index: 5;
    width: auto;
  }
  li .mainmenu__listitem--drop {
    min-width: $min-width;
  }
}

.main-menu-drop {
  overflow: hidden;
  list-style: none;
  position: absolute;
  padding: 0;
  width: $min-width;
  left: 0;
  top: 48px;
  div {
    @include drop-menu-transform(translate(0, -100%));
    @include drop-menu-transition(all 0.5s 0.1s);
    position: relative;
  }
  li {
    display: block;
    padding: 0;
    width: 100%;
    background: $secondarycolor;
  }
  li:hover {
    background-color: $paleyellow;
  }
}

#main-menu-marker {
  height: 5px;
  background: $yellow;
  position: absolute;
  bottom: 0;
  width: $min-width;
  z-index: 2;
  @include drop-menu-transition(all 0.35s);
}

} */
