@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&&family=Nunito+Sans:wght@300;600&display=swap");
@import "scss/animista.scss";


$brown: #5a4131;
$brown-alt: #594437; // text color on white
$brown-light: #997b66;

$palegreen: #797d62;
$palegreen-light: #9b9b7a;

$white: #fcf8ef; // text color
$whiteyellow: #f8e8cb; // text color intense

$yellow: #ffcb69; // button, menu link, 
$happy-yellow: #ffb323; // button hover, menu link hover, 
$paleyellow: #ffe2ad;

$rawsienna: #d08c60; // a la brown/orange
$rawsienna-light: #f1b48b;




html {
  box-sizing: border-box;
  line-height: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: $brown;
  color: $whiteyellow;
  min-height: 100vh;
  font-family: "Libre Baskerville", serif;
  
  background-image: url("../images/body-background-dom-pod-wierzba.jpg");
  background-attachment: fixed;
  background-position: 0 0px;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15em;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 0.01em;
  font-weight: normal;
}

p {
  line-height: 1.6em;
}

a {
  text-decoration: none;
}

button {
  font-family: "Nunito Sans", Verdana, sans-serif;
  background-color: $yellow;
  border-radius: 3px;
  color: $brown-light;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  padding: 20px 60px;
  margin: 40px 0;
  cursor: pointer;
}

button:hover {
  background-color: $happy-yellow;
}

.navigation ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.navigation ul > li {
  display: block;
  float: left;
  position: relative;
}

.bold { font-weight: bold; }


.main {
  overflow: hidden;
}

.top-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  background: $brown-light;
  padding: 2px 20px;
  height: 32px;
  &__link {
    color: $paleyellow;
    margin-right: 20px;
    font-size: 14px;
    &--mail::before {
      content: "";
    }
    &--tel::before {
      content: "";
    }
  }
}

.main-header {
  width: 100vw;
  height: 140px;
  display: flex;
  flex-flow: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  background: $brown;
  opacity: 0.93;
  padding: 0 80px;
  z-index: 10;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.shrink-and-sticky {
  height: 60px;
  position: fixed;
  top: 0;
  background: $brown;
}

.main-header__logo {
  height: 100%;
  margin-left: 0;
  margin-top: 34px;
}

.shrink-and-sticky .main-header__logo {
  height: 60px;
  margin-top: 6px;
}

.shrink-and-sticky .main-header__logo-img {
  height: 90%;
}

.shrink-and-sticky .navigation__link {
  font-size: 15px;
}

.navigation {
  display: none;
}

.navigation--open {
  display: block;
}

.hamburger {
  position: absolute;
  top: 16px;
  right: 16px;
}

.navigation__link {
  font-size: 16px;
  color: $yellow;
  display: block;
  margin-bottom: 10px;
  &--drop {
    line-height: 1.45em;
    font-size: 15px;
    color: black;
  }
  &--discreet {
    color: #d08c60;
  }
}

.navigation__link:hover {
  color: $happy-yellow;
}

$min-width: 170px;
$maincolor: #6bbe92;
$secondarycolor: #3e8760;

@mixin drop-menu-transform($value) {
  -webkit-transform: ($value);
  -moz-transform: ($value);
  -ms-transform: ($value);
  transform: ($value);
}
@mixin drop-menu-transition($value) {
  -webkit-transition: ($value);
  -moz-transition: ($value);
  -ms-transition: ($value);
  transition: ($value);
}

#main-menu-ul {
  position: relative;
  list-style: none;
  background: inherit;
  font-weight: 400;
  font-size: 0;
  text-transform: uppercase;
  display: inline-block;
  padding: 0;
  margin: 50px auto;
  li {
    font-size: 0.8rem;
    display: inline-block;
    position: relative;
    padding: 15px 20px;
    cursor: pointer;
    z-index: 5;
    min-width: $min-width;
    width: auto;
  }
}



li {
  margin: 0;
}
.main-menu-drop {
  overflow: hidden;
  list-style: none;
  position: absolute;
  padding: 0;
  width: 100%;
  left: 0;
  top: 48px;
  div {
    @include drop-menu-transform(translate(0, -100%));
    @include drop-menu-transition(all 0.5s 0.1s);
    position: relative;
  }
  li {
    display: block;
    padding: 0;
    width: 100%;
    background: $secondarycolor;
  }
  li:hover {
    background-color: #6bbe92;
  }
}

/* .main-menu-drop li:hover {background-color: #6bbe92;} */

.navigation__listitem--drop { border-bottom: 1px solid $brown; }
.navigation__listitem--drop:hover { background-color: #f1b48b; }

#main-menu-marker {
  height: 5px;
  background: $yellow;
  position: absolute;
  bottom: 0;
  width: $min-width;
  z-index: 2;
  @include drop-menu-transition(all 0.35s);
}

@for $i from 1 through 4 {
  #main-menu-ul li:nth-child(#{$i}) {
    &:hover ul div {
      @include drop-menu-transform(translate(0, 0));
    }
    &:hover ~ #main-menu-marker {
      @include drop-menu-transform(translate(#{(-1 + $i) * $min-width}, 0));
    }
  }
}

.main-content {
}

.slider {
  min-height: 629px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__header {
    text-align: center;
  }
  
  &__heading2 {
    font-size: 4.5em;
    text-transform: uppercase;
    margin-bottom: 2px;
  }
  &__heading3 {
    font-size: 3.7em;
    margin-top: 12px;
  }
}

.offer {
  background-color: $brown;
  display: grid;
  grid-template-columns: repeat(4, minmax(220px, 480px));
  column-gap: 1px;
  row-gap: 1px;
  padding: 0;
  justify-content: center;
  padding: 0;
  position: relative;
  top: 0;
}
.offer-article {
  padding: 100px 80px;
  background-color: $palegreen;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;

  &__header {
  }
  &__heading {
    font-size: 32px;
    color: $whiteyellow;
  }
  &__thumb {
    border-radius: 50%;
    border: 1px solid $brown;
  }
  &__text {
    color: $whiteyellow;
    text-align: left;
  }
  &__button {
    border-radius: 3px;
    background-color: $yellow;
  }
}

.offer-article:hover {
  position: relative;
  top: -5px;
  background-color: $palegreen-light;
  cursor: pointer;
}

.about {
  background-color: $brown;
  display: flex;
  align-content: center;
  justify-content: center;
}


.about-article {
  padding: 160px 20px;
  text-align: center;
  &__heading {
    font-size: 32px;
    color: $whiteyellow;
    margin-bottom: 80px;
  }
  &__text {
    color: $whiteyellow;
    max-width: 600px;
    margin: 40px auto;
    text-align: left;

  }
  &__image {
    border-radius: 3px;
  }
}



.testimonials {
  margin: 0;
}

.contact {
  background-color: $yellow;
  padding: 100px 0 0;

  &__header {
    text-align: center;
  }
  &__heading {
    font-size: 32px;
    color: $brown-alt;
    margin-bottom: 80px;
  }
  &__info {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 280px 1fr;
    grid-column-gap: 80px;
    padding: 0 0 100px;
    font-family: "Nunito Sans", serif;
  }
  &__col1 {
    justify-self: end;
  }
  &__col2 {
    justify-self: center;
  }
  &__col3 {
    justify-self: start;
    align-self: end;
  }
  &__heading3 {
    color: $brown-alt;
    font-size: 22px;
  }
  &__text {
    color: $brown-alt;
    font-size: 20px;
  }
  &__link {
    color: $brown-alt;
    &--expose {
      font-size: 24px;
      font-weight: 600;
    }
  }
  &__button {
    border-radius: 3px;
    background-color: $rawsienna;
    color: $white;
  }
  &__button:hover {
    background-color: $rawsienna-light;
  }
}

.fund-info {
  background-color: $brown-light;
  padding: 120px 0;
  text-align: center;

  &__heading {
  }
  &__image {
  }
  &__text {
    max-width: 800px;
    color:$white;
    font-size: 0.8em;
    margin: 0 auto 20px;
  }
}

.footer {
  background-color: $brown;
  padding: 120px 0;
  text-align: center;

  &__text {
    max-width: 800px;
    color: $white;
    font-size: 1em;
    margin: 0 auto 20px;
  }
}

@media screen and (min-width: 480px) {
  .main {
  }
  .aside {
    padding: 20px;
  }

  @media screen and (min-width: 768px) {
    .main {
    }

    .navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .navigation__link {
      margin-right: 20px;
    }
    .hamburger {
      display: none;
    }
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 20px;
      column-gap: 20px;
    }
  }

  .aside {
    padding: 20px;
  }
}
