html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #57574b;
  color: rgb(44, 43, 43);
  /*display: flex;
  align-items: center;
  justify-content: center;*/
  min-height: 100vh;
  font-family: 'Rubik', sans-serif;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.navigation ul > li {
  display: block;
  float: left;
  position: relative;
}

.main {
}

.main-header {
  display: flex;
  flex-flow: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  background: #797d62;
  padding: 20px 80px;
}

.main-header__logo {
  margin-left: 0px;
}

.navigation {
  display: none; }

.navigation--open {
  display: block; }

.hamburger {
  position: absolute;
  top: 16px;
  right: 16px; }

.navigation__link {
  color: #ffcb69;
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
}

.navigation__link:hover {
  color: #FFCB69; }


.main-content {
  display: grid;
  grid-template-columns: repeat (3, minmax(240px, 600px));
  background: whitesmoke;
}

.article {
  grid-area: article;
}

.aside {
  grid-area: aside;
  padding: 10px;
  background: tomato;
}

.footer {
  grid-area: footer;
}

@media screen and (min-width: 480px) {
  .main {
    
  }
  .aside {
    padding: 20px;
  }

  @media screen and (min-width: 768px) {
    .main {
     
    }

    .navigation {
      display: flex;
      justify-content: space-between;
      align-items: center; }

    .navigation__link {
      margin-right: 20px; }
    .hamburger {
      display: none; }
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 20px;
      column-gap: 20px; } }

    .aside {
      padding: 20px;
    }
}